POSTGRES_DB=med_schedule
POSTGRES_USER=myuser2
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5434

APP_PORT=8080
APP_BASE_URL=http://localhost:8080

# Default demo password is 12345. Generate a new BCrypt hash before real deployment.
DOCTOR_ADMIN_PASSWORD_HASH='$2a$10$HosUz7WV/nArRyGJH.67jueffPye19xZHh/LjWRDxpzWpTn5HbWEq'
DOCTOR_ADMIN_COOKIE_SECURE=false

TURBOSMS_ENABLED=false
TURBOSMS_API_TOKEN=PASTE_YOUR_CODE
TURBOSMS_SMS_SENDER=YOUR_SMS_SENDER
